.header {
  padding: 20px 0;
  background-color: $background-dark;

  @include break($medium) {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }

  &__logo {

    @include break($medium) {
      @include grid-col(6);
    }

    &-type,
    &-type a {
      font-family: $serif;
      font-size: 30px;
      color: $white;
      text-decoration: none;
      font-weight: 200;
      letter-spacing: 0.5px;
    }
  }

  &__content {
    @include break($medium) {
      @include grid-col(6);
    }
  }
}